body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    overflow: hidden    ;
    justify-content: center;
    align-items: flex-start;
    background-color: #121212; /* Fond sombre */
    color: #D0D0D0; /* Texte gris clair */
}
@keyframes matrix-text {
    0% {
        text-shadow: 0 0 5px #888888ab, 0 0 10px #888888ab, 0 0 15px #888888ab;
    }
    100% {
        text-shadow: 0 0 5px #888888ab, 0 0 10px #888888ab, 0 0 20px #888888ab;
    }
}

* {
    animation: matrix-text 1s infinite linear;
}


.terminal {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    padding: 20px;
    z-index: 10;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.hidden {
    display: none;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#main-image {
    max-width: 30%;
    max-height: 30%;
    border-radius: 50%;
    border: #888 solid 1px; /* Bordure discrète */
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.1);
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
        transform: scale(1.1);
    }
    100% {
        box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.1);
        transform: scale(1);
    }
}

#main-content {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    padding: 20px;
    color: #D0D0D0;
}

#main-content.visible {
    opacity: 1;
}

#terminal-text::after {
    content: "|";
    animation: blink 1s steps(2, start) infinite;
    margin-left: 5px;
    color: #D0D0D0; /* Curseur */
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 800px;
}

#description p {
    margin: 10px 0;
}

#dock-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
}

#dock-container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 80px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    z-index: -1;
}

.dock {
    display: flex;
    gap: 20px;
    padding: 5px 20px;
    z-index: 1001; /* Assurez-vous que le dock soit devant tout */
}

.dock-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    transition: all 0.33s ease-in-out;
    cursor: pointer;
}

.dock-item:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0 10px 20px rgba(208, 208, 208, 0.2);
}

.dock-icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.dock-item:hover .dock-icon {
    transform: scale(1.1);
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utilise la hauteur de l'écran pour le centrage */
    padding: 20px;
    text-align: center; /* Centre le texte horizontalement */
}

#main-title {
    position: absolute;
    top: 20px; /* Place le titre en haut */
    width: 80%; /* Prend toute la largeur pour un centrage complet */
    text-align: center; /* Centre le titre horizontalement */
    font-size: 2.5em;
    color: #D0D0D0;
    bottom: 20px;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centre le texte à l'intérieur de description */
    max-width: 800px; /* Limite la largeur de la description pour qu'elle ne s'étende trop */
    margin-top: 80px; /* Ajoute de l'espace sous le titre */
    font-size: 1.3em;
    margin-bottom: 100px; /* Ajoute de l'espace entre la description et le dock */
}

#description p {
    margin: 10px 0; /* Espacement entre les paragraphes */
}

/* Nouveau contenu par défaut */
#default-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin-top: 80px;
    margin-bottom: 100px;
}

#default-content p {
    margin: 10px 0;
}

#iframe-container {
    position: absolute;
    top: 80px; /* Ajusté pour commencer sous le dock */
    left: 0;
    width: 100%; /* Largeur complète */
    height: calc(100vh - 0px); /* Hauteur ajustée */
    overflow: hidden; /* Évite les débordements */
    z-index: 1; /* Derrière le dock */
    padding: 0; /* Enlève tout padding */
}

#iframe-container iframe {
    width: 100%;
    height: 100%; /* Prend toute la hauteur disponible */
    border: none;
    border-radius: 0; /* Enlève tout arrondi pour un style net */
}




body, html {
    overflow: hidden;
    height: 100%;
}


iframe {
    width: 100%;
    height: 100vh;  /* Pour prendre toute la hauteur de la fenêtre */
    border: none;   /* Pour enlever les bordures */
  }
  

  #iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;  /* Utilise toute la largeur disponible */
    height: calc(100vh - 220px); /* Laisse de la place pour la barre de navigation */
    z-index: 1000;
    overflow: hidden;  /* Évite tout défilement non souhaité */
    padding: 0;  /* Enlève tout padding superflu */
}

#iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    z-index: 1000;
}



@media (max-width: 480px) {
    .terminal {
        font-size: 10px; /* Taille de police légèrement plus grande pour une meilleure lisibilité */
    }
    #description {
        max-width: 100%;
        padding: 8px;
        font-size: 0.95em;
    }
    .dock-item {
        width: 40px;
        height: 40px;
    }
    .dock-icon {
        width: 30px;
        height: 30px;
    }
    #main-title {
        font-size: 1.1em;
        max-width: 90%;
        top: 7px;
        text-align: center;
    }
    #cmd-button {
        display: none;
    }
    #iframe-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        pointer-events: auto; /* Active les interactions */
    overflow: visible;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: calc(100vh - 65px);
        z-index: 1; /* Assurez-vous que l'iframe soit derrière le dock */
        overflow: hidden;
        padding: 0;
    }
    iframe {
        pointer-events: auto; /* Active les interactions */
    }
    .dock-item:hover .dock-icon {
        transform: none;
    }
}

@media (max-width: 768px) {
    #description {
        max-width: 100%;
        padding: 10px;
        font-size: 1em;
    }
    .dock-item {
        width: 55px;
        height: 55px;
    }
    .dock-icon {
        width: 45px;
        height: 45px;
    }
    #main-title {
        font-size: 1.2em;
        max-width: 90%;
        top: 12px;
    }
    #cmd-button {
        display: none;
    }
    #iframe-container {
        display: flex;
        justify-content: center;
        pointer-events: auto; /* Active les interactions */
    overflow: visible;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: calc(100vh - 70px);
        z-index: 1; /* Assurez-vous que l'iframe soit derrière le dock */
        overflow: hidden;
        padding: 0;
    }
    iframe {
        pointer-events: auto; /* Active les interactions */
    }
    .terminal {
        font-size: 15px;
    }
    #dock-container::before {
        height: 75px;
    }
    .dock-item:hover .dock-icon {
        transform: none;
    }
}