* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes matrix-text {
  0% {
      text-shadow: 0 0 5px #888888ab, 0 0 10px #888888ab, 0 0 15px #888888ab;
  }
  100% {
      text-shadow: 0 0 5px #888888ab, 0 0 10px #888888ab, 0 0 20px #888888ab;
  }
}

* {
  animation: matrix-text 1s infinite linear;
}

body {
  background-color: #121212; /* Fond sombre pour l'effet moderne */
  color: #D0D0D0; /* Texte gris clair pour un look doux */
  font-family: 'Courier New', monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Cacher les barres de défilement */
}

.terminal {
  background-color: #1e1e1e; /* Fond sombre du terminal */
  padding: 20px;
  width: 100%; /* Terminal prend toute la largeur */
  height: 100vh; /* Terminal prend toute la hauteur */
  max-width: 100%; /* Pas de limite de largeur */
  max-height: 100vh; /* Pas de limite de hauteur */
  border-radius: 15px; /* Coins arrondis */
  font-size: 16px;
  overflow-y: auto; /* Permettre le défilement vertical pour les longs textes */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Zone d'input */
#input {
  background-color: #333; /* Fond gris foncé pour l'input */
  color: #D0D0D0; /* Texte en gris clair */
  border: none;
  padding: 10px;
  width: 100%;
  font-family: monospace;
  font-size: 16px;
  border-radius: 5px; /* Coins arrondis */
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease-in-out;
}

/* Effet de focus sur l'input */
#input:focus {
  background-color: #444; /* Changer légèrement la couleur de fond lors du focus */
  border: 1px solid #888; /* Bordure discrète au focus */
  box-shadow: 0px 0px 5px #888; /* Ombre au focus */
}

/* Zone d'affichage du texte (output) */
#output {
  overflow-y: auto;  /* Enable vertical scrolling when the content exceeds max-height */
  white-space: pre-wrap;  /* Retain spaces and line breaks */
  word-wrap: break-word;  /* Break words to prevent overflow */
  flex-grow: 1;  /* Allows the output to take up remaining space */
  padding-bottom: 10px;
  font-size: 16px;
  opacity: 1; /* Make sure the element is visible */
  animation: fadeIn 0.5s forwards; /* Fade-in effect */
}

/* Animation d'apparition du texte */
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Media Query pour les petits écrans (ex. téléphones) */
@media screen and (max-width: 768px) {
  .terminal {
      height: 100%; /* Utiliser toute la hauteur */
      padding: 10px; /* Réduire un peu l'espacement */
  }

  #input {
      font-size: 14px; /* Réduire la taille de police sur les téléphones */
  }

  /* Ajouter un div d'instruction ou de notification pour les utilisateurs sur mobile */
  #mobile-message {
      display: block;
      background-color: #333;
      color: #D0D0D0;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      margin-bottom: 10px;
      border-radius: 5px;
  }
}

/* Par défaut, le message mobile est caché */
#mobile-message {
  display: none;
}

img {
  border-radius: 20px;
  box-shadow: #888 0px 0px 10px 0px;
}